:root {
    --drop-shadow: 0 2px 15px -3px rgba(0,0,0,0.2),0 10px 20px -2px rgba(0,0,0,0.04);
}

.card {
    box-shadow: var(--drop-shadow);
    -webkit-box-shadow: var(--drop-shadow);
    border: none;
}

