{{ define "main" }}

<style>
</style>
<div class="container">
    <!-- <h1 class="text-left">
        {{ .Type | humanize }}
    </h1> -->
    <div class="container">
        {{ range .Pages }}
        <div class="row py-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ range .Param "authors" }}
                            {{ . }}<br>
                        {{ end }}
                    </h6>
                    <p class="card-text">
                        {{ .Summary }}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <!-- {{ range .Pages }}
    <div class="row mt-2">
        <div class="d-none d-sm-block col-sm-2 mt-auto offset-sm-2 text-left">
            <time class="post-date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
        <div class="col">
            <a class="text-body" href="{{ .URL | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
        </div>
    </div>
    {{ end }}
    -->
</div>

{{ end }}