{{ define "main" }}

<style>
</style>
<div class="container">
    <div class="container">
        {{ range .Pages }}
        <div class="row py-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ range .Param "authors" }}
                            {{ . }}<br>
                        {{ end }}
                    </h6>
                    <p class="card-text">
                        {{ .Summary }}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}