{{ define "main" }}

<!-- Define paginator used to display posts -->
{{ $paginator := .Paginate (where .Pages "Section" "writeups") }}
<!-- Use default pagination template -->
<div class="container col-lg-8">
	{{ with $paginator }}
	{{ range $index, $element := .Pages }}
	<div class="row py-2">
		<div class="card">
			<div class="card-body">
				<div class="card-title">
					<a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
				</div>
				<h6 class="card-subtitle mb-2 text-muted">
					{{ range .Param "authors" }}
					{{ . }}<br>
					{{ end }}
				</h6>
				<p class="card-text">
					{{ .Summary }}
				</p>
			</div>
		</div>
	</div>
	{{ end }}
	{{ end }}
</div>
<div class="container">
	<div class="d-flex align-items-center justify-content-center">
		{{ template "_internal/pagination.html" . }}
	</div>
	<!-- <div class="row">
		<div class="col" style="text-align: center;">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div> -->
</div>


{{ end }}