{{ define "main" }}
<body>
	<div class="header">
		<div class="container">
			 <div class="banner-info">
				 <h2>BitsforEveryone</h2>
				 <p></p><h3><span style="color: #ffffff;">{{ .Params.teamDescription }}</span></h3><p></p>
				 <a href="http://google.com" class="text-warning">Join us on Discord</a>
			 </div>
			 <div class="clearfix"></div>
		</div>
</div>

<div id="service" class="service">
	<div class="container">
		<h3>Areas of Interest</h3>
		<div class="service-grids">
		<div class="icon-grids">
	{{ range .Params.areasOfInterest }}

			<div class="col-md-6 futr-grid futr1">
				<div class="icon-pic">
					   <div class="icon text-center">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
				 </div>
				<div class="icon-info">
				   <h4><a href="#">{{ .title }}</a></h4>

<p>{{ .description }}</p>
				</div>
				<div class="clearfix"></div>
			</div>
{{end}}
		</div>
	</div>
</div>


</body>
{{ end }}
	